/* Hide toolbar. */
.toolbar {
  display: none;
}

#viewerContainer {
  top: 0;
}

/* Full page. */
.pdfViewer .page {
  border: none;
  margin: 0 auto 1px auto;
}

.textLayer .highlight {
  background-color: rgb(255, 255, 0);
}
